.results{
  display:grid;
  gap:18px;
  grid-template-columns: repeat(4,1fr);
  max-width: 1200px;
  margin:auto;
  text-align: center;
}

p{
  font-size:20px;
  color:black;
}

.drop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  width:200px;
  background:white;
  color:black;
  padding:10px;
  outline:none;
  border-radius: 5px;
  font-weight: 400;
  border-color: black;
  margin:10px;
  text-align: left;
}

button:hover{
background-color: cyan;
color:black;
}

.drop-btn{
  
  height:20px;
  width:180px;
  margin-bottom:20px;
  background:black;
  color:white;
  padding:10px;
  border-radius:10px;
  border-color:white;
}

